* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

.imageStates {
  width: 100%;
}

.buttonPay {
  margin-top: 50px;
  margin-left: 30%
}

.summary {
  text-align: center;
}

@media screen and ( min-width: 768px){
  .imageStates {
    width: 50%;
    text-align: center;
    float: left;
  }

  .buttonPay {
    margin-left: 22%
  }
}